.button-flat {
		border: 0;
		border-radius: 2px;
		background-color: #fff;
		font-size: 16px;
		font-family: 'Roboto', 'Helvetica', sans-serif;
		color: #1976d2;
		-webkit-font-smoothing: antialiased;
	    -webkit-tap-highlight-color: rgba(0,0,0,0);
	    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
		transform:scale(0.9);
		-webkit-transform:scale(0.9);
		transition: all 0.1s;
		min-width: 90px;
	    height: 36px;
    	padding: 0 20px;
	    cursor: pointer;
		&:hover{
			transform: none;
		}
	    &:active {
			background-color: darken(#FFF,7%);
			padding-top: 2px;
	    	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.24);
	    }
}

.button-raised {
	min-width: 90px;
	height: 36px;
	padding: 0 20px;
	background-color: #c9394a;
	border: 0;
	box-shadow: 0px 0px 4px #888888;
	cursor: pointer;
    align-items: flex-start;
    text-align: center;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-size: 16px;
	color: #FFF;
	margin: auto 0;
	border-radius: 4px;
    &:active {
    	padding-top: 2px;
		box-shadow: 0px 0px 3px #888888 inset;
    }
}