.editor {
	h1 {
		color: #ff3b77;
		font-size: 5em;
		font-weight: 600;
	}
	h2 {
		color: darken(#CCCCCC, 90%);
		font-size: 4em;
		font-weight: 550;
	}
	h3 {
		color: darken(#CCCCCC, 90%);
		font-size: 3em;
		font-weight: 500;
	}
	h4 {
		color: darken(#CCCCCC, 90%);
		font-size: 2em;
		font-weight: 450;
	}
	h5 {
		color: darken(#CCCCCC, 90%);
		font-size: 1em;
		font-weight: 400;
	}
	p {
		font-size: 1em;
	}
}