.material-list {
	li {
		padding-bottom: 10px;
		border-bottom: 1px solid #e5e5e5;
		&>div {
			padding-left: 0;
		}
		.material-img {
			width: 100%;
			height: auto;
			padding: 0;
			margin: 0;
		}
		.material-info {
			padding: 30px 0 0 10px;
			.material-title {
				font-size: 1.1em;
				font-weight: 500;
				margin-bottom: 5px;
				color: black;
			}
			.material-pin {
				padding-right: 5px;
				font-size: 14px;
				color: #8c8c8c;
			}
			p {
				font-size: 0.9em;
				font-weight: 300;
				color: #8c8c8c
			}
		}

	}
}
.topic-list {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	background-color: #fafafa;
	z-index: 999;
	.topic-item {
		list-style: disc;
		font-size: em;
		font-weight: 350;
		color: #3f3f3f;
		margin: 5px 0;
		line-height: 1.5;
		padding: 10px;
		border: none;
	}
	.topic-kind {
		list-style: none;
		font-size: 1.1em;
		font-weight: 400;
		color: #3f3f3f;
		margin: 5px 0;
		line-height: 1.5;
		padding: 10px;
		border: none;
	}
	.topic-line-item {
	    border: none; 
	    height: 1px; 
	    background-image: -webkit-linear-gradient(left, #ffffff, #dcdcdc 70%, #ffffff);
	    background-image: linear-gradient(to right, #ffffff, #dcdcdc 70%, #ffffff);
	    background-repeat: no-repeat;
    }
	.topic-line-kind {
	    border: none; 
	    height: 1px; 
	    background-image: -webkit-linear-gradient(left, #ffd6d6, #ff3b77 80%, #ffd6d6);
	    background-image: linear-gradient(left, #ffd6d6, #ff3b77 80%, #ffd6d6);
	    background-repeat: no-repeat;
    }
	.active {
		color: red;
	}
}
