.left-nav {
	padding: 0 0 !important;
	margin: 0 10px 0 0;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	ul {
		list-style: none;
		li {
			height: 32px;
			h3 {
				padding-left: 30px;
			}
			h4 {
				padding-left: 35px;
				font-weight: 100;
				line-height: 1;
				word-break: break-all;
				cursor: pointer;
				&:hover {
					background-color: darken(#fff,5%)
				}
			}	
		}
		.menu-item-link,.menu-item-p,.menu-item-line {
			background-color: #fff;
			font-size: 13px;
			text-decoration: none;
			color: #000;
			cursor: pointer;
			height: 45px;
			line-height: 45px;
			padding-left: 25px;
			&:hover {
				background-color: darken(#fff,5%);
			}
		}
		.menu-item-p {
			cursor: auto;
			color: #1967d2;
			font-weight: 500;
			font-size: 14px;
			&:hover {
				background-color: #fff;
			}
		}
		.menu-item-line {
			cursor: auto;
			height: 0;
			border-top: 1px solid #e5e5e5;
			&:hover {
				background-color: #fff;
			}
		}
		.active {
			color: #ff3b77 !important;
		}
	}
}