/* hightlight.js for syntax highlighting */
@import "select.css";
/* components */
@import "appbar.css";
@import "home.css";
@import "left-nav.css";
@import "content.css";
@import "tabs.css";
@import 'editor.css';
/* flexbox grid */
@import "flexboxgrid.min.css";

@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Regular.woff') format('woff'),
    url('font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Bold.woff') format('woff'),
    url('font/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-size: 13px;
    line-height: 20px;
    min-height: 768[x;]
}

.headline {
    font-size: 26px;
    line-height: 32px;
    padding-top: 16px;
    margin-bottom: 12px;
    letter-spacing: 0;
    text-align: center;
    color: #FF3B77;
    font-weight: 300;
}

.main {
    padding: 0 0 70px 0 !important;
    min-height: 768px;
}
.main>div>h2 {
        font-size: 26px;
        line-height: 32px;
        padding-top: 16px;
        margin-bottom: 12px;
        letter-spacing: 0;
        text-align: center;
        color: #FF3B77;
        font-weight: 250;
}

