
.tabs {
	position: relative;
	padding: 0 0;
	border-bottom: 0.5px solid #eee;
	border-left: 0.5px solid #eee;
	border-right: 0.5px solid #eee;
	.tab {
		margin: 0 0 !important;
		padding: 0 10px 0 10px;
		border: 0;
		min-height: 200px;
		min-width: 100px;
		.tab-header {
			position: relative;
			background-color: #1976d2;
			cursor: pointer;
			height: 48px;
			width: 100%;
			&:active {
				& h4 {
					color: white;
				}
			}
			&:hover {
				background-color: lighten(#1976d2,5%);
			}
			.tab-border {
				height: 2px;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: #1967d2;
				&:active {
					background-color: #ff3b22;
				}
			}
			h4 {
				font-size: 16px;
				font-weight: 200;
				color: white;
				opacity: 1;
			}
		}
	}
}